body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.file-upload {
  margin: 0 auto;
  padding: 13%;
  border-radius: 10px;
  border: solid 1.5px #f6f7fa;
  background-color: #f6f7fa;
}


.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  padding: 10%;
  display: none;
  text-align: center;
}

.image-upload-wrap {
  width:65%;
  margin: 0 auto;
  position: relative;
  object-fit: contain;
  border-radius: 10px;
  border: dashed 1.5px #d8e431;
  background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #d8e431;
  border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  margin: auto;
  width: 50%;
  background-color:  #f6f7fa;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  width:50%;
  margin: 0 auto;
  font-family: NanumSquareR;
  font-size: 1.5rem;
  line-height: 1.53;
  text-align: center;
  color: #35465d;
}

.file-upload-image {
  max-height: 60%;
  max-width: 60%;
  margin: auto;
  padding: 0px;
}

.remove-image {
  color: #fff;
  background: #cd4535;
  border-radius: 40px;
  border:solid #35465d;
  padding-top: 5%;
  padding-bottom: 5%;
  transition: all .2s ease;
  text-transform: uppercase;
  width: 100%;
  background-color: #35465d;
}


.remove-image:hover {
  background: #c13b2a;
  border-color: #c13b2a;
  border: solid  #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.nav-distance {
    padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
  font-family: NanumSquareR;
  line-height: 1.68;
  text-align: left;
  color: #35465d;
}

.navbar-light .navbar-toggler {
    border-color: #ffffff
}

.section {
    margin-top:100px;
}

.title {
  font-family: NanumSquareR;
  line-height: 1.67;
  text-align: center;
  color: #35465d;
}

.subtitle{
  font-family: NanumSquareR;
  line-height: 1.53;
  text-align: center;
  color: #35465d;
}

@media screen and (max-width: 600px){
    html {
        font-size: 10px ;
    }
    .navbar-brand {
        font-size: 2rem;
    }
    .youtube-icon {
        width: 30px;
        height: 25px;
    }
}

.youtube-link {
  font-family: NanumSquareR;
  line-height: 1.71;
  text-align: center;
  color: #f73737;
}

.youtube-link:hover {
  font-family: NanumSquareR;
  line-height: 1.71;
  text-align: center;
  color: #f73737;
}

.youtube-icon {
  width: 8%;
}

.upload {
    width:17%;
}


.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.강아지-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(226, 19, 19, 0.2);
}
.강아지-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(226, 19, 19, 1);
}


.고양이-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 104, 17, 0.2);
}

.고양이-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 104, 17, 1);
}

.쥐-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(206, 203, 24, 0.2);
}

.쥐-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(206, 203, 24, 1);
}

.호랑이-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(47, 199, 16, 0.2);
}

.호랑이-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(47, 199, 16, 1);
}

.공룡-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(19, 205, 230, 0.2);
}

.공룡-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(19, 205, 230, 1);
}

.원숭이-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(23, 20, 218, 0.2);
}

.원숭이-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(23, 20, 218, 0.2);
}

.곰-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(77, 17, 156, 0.2);
}

.곰-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(77, 17, 156, 1);
}

.돼지-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(212, 220, 226, 0.2);
}

.돼지-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(212, 220, 226, 1);
}

.animal-label {
  font-family: NanumSquareEB;
  width: 20%;
  text-align: left;
  height: 2rem;
}

.bar-container {
  height: 3rem;
}

.contact-me {
  background-color: #35465d;
}

.percent-text {
  font-family: NanumSquareEB;
  font-size: 1rem;
  color: #ffffff;
}

.addthis_inline_share_toolbox_0k1j{
    margin: 5%;
}